<strong>Olá, {{ organizer }} </strong>
<p>Seu evento ganhou um novo inscrito, confira os detalhes abaixo:</p>

<p>
  <strong>Nome: </strong> {{ user }}<br/>
  <strong>Email: </strong> {{ userEmail }}
</p>
